#conteudo {
    background: #dcdcdc;
    height: 400px;
    display: flex;

    /*
        row | row-reverse | column | column-reverse 
    */

    flex-direction: row;

    /*
        nowrap | wrap | wrap-reverse  
    */

    flex-wrap: nowrap;

    /*
        flex-start | flex-end | center | space-between | space-around  
    */

    justify-content: space-around;

    /*
        flex-start | flex-end | center | stretch | baseline
    */

    align-items: flex-start;
}

.item {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid purple;
    margin: 10px;
}